body {
    background-color:blue;
    font-family: Arial, Helvetica, sans-serif;
}


.step1{
    color: yellow;
    transition: 1s;
}

.step8 {
    height: 50px;
    width: 200px;
    background-color: yellow;
}