body {
    background-color:#cae3f1;
    font-family: Arial, Helvetica, sans-serif;
}


.step1{
    color: yellow;
    transition: 1s;
}

.step8 {
    height: 50px;
    width: 200px;
    background-color: yellow;
    padding: 2px,
}

.header-container {
    height: auto;
    min-height: 200px;
}
.container {
    height: auto;
    min-height: 300px;
}
.footer-container {
    height: auto;
}

.container, .footer-container, .header-container {
    border: 1px solid black;
}